
/* Header */
header img {
	width: 100%;
}

/* Footer */
footer {
	text-align: center;
	margin: 25px 0;
}

/* General */
p {
	line-height: 1.5em;
}

.center {
	text-align: center;
}


section {
	margin-top: 50px;
	margin-bottom: 50px;
}

div ul {
	padding left: 30px;
}

/* Home */
.objectives {
	margin: 0;
	padding: 15px 0;
	width: 100%;
	background-color: #F15A24;
	color: #fff;
}

/* Projects */
.projects .col-md-4 {
	text-align: center;
}

.projects img {
	max-width: 250px;
}

/* Education */
.education img {
	width: 100%;
	padding: 1em 0;
}

/* Sidebar */
.sidebar div {
	margin: 0 0 50px 0;
}

/* Navbar */
.logo-img a {
	padding: 0 !important;
}

.navbar {
	background-color: #fff !important;
}

.nav-link {
	padding: 25px 15px !important;
}

/* Center Navbar on desktop */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
.onsite a img {
	max-height: 275px;
	width: 100%;
}